---
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout title="Privacy" description="Privacy policy for FlowHat Blog">
	<h1>Privacy</h1>
	<p>
		FlowHat Blog uses basic site analytics to understand traffic and improve the publication.
	</p>
	<ul>
		<li>This site currently uses Cloudflare Web Analytics.</li>
		<li>Additional analytics or advertising tools may be added in the future.</li>
		<li>If advertising is enabled later, this page will be updated to reflect those changes.</li>
	</ul>
	<p>
		This site is a content publication. It does not currently offer user accounts, comments, or paid
		memberships on-site.
	</p>
	<p>
		If third-party advertising or affiliate programs are activated later, the relevant disclosure and
		privacy details will be updated here.
	</p>
</PageLayout>
